body {
    font-family: $fm-montserrat;
    font-weight: 400;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 $gutter;
}

.flex {
    &-d {
        display: flex;
    }

    &--center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-align--center {
        align-items: center;
    }

    &--between {
        justify-content: space-between;
        align-items: center;
    }

    &--end {
        justify-content: end;
        align-items: center;
    }

    &--column {
        flex-direction: column;
    }
}

.d--sm {
    display: none;
}

.d--xs {
    display: flex;
}

.title {
    &-h1 {
        font-size: $fs-h1;
        line-height: $h1-ln-height;
    }
}

.txt {
    &--main {
       font-size: $txt-md;
       line-height: $h4-ln-height; 
    }

    &--dark {
        color: $blue-dark;
    }

    &--blue {
        color: $blue-hover;
    }

    &--white {
        color: $white;
    }

    &--normal {
        font-weight: 400;
    }
    
    &--bold {
        font-weight: 700;
    }

    &--center {
        text-align: center;
    }

    &--uppercase {
        text-transform: uppercase;
    }
}
