@media (min-width: $xs) {
  @for $i from 1 through $gd-col {
    .col-xs-#{$i} {
      @include col-size($gd-size * $i);
    }
  }
}

@media (min-width: $sm) {
  @for $i from 1 through $gd-col {
    .col-sm-#{$i} {
      @include col-size($gd-size * $i);
    }
  }

  .d--sm {
    display: block;
  }
  
  .d--xs {
    display: none;
  }

  .container {
    @include container-size(1720px, 0 60px);
  }

  .container-sm {
    @include container-size(1200px, 0 60px);
  }

  .column {
    padding: 30px;
  }

  .m-15 {
    margin: -30px;
  }

  .title {
    &-h2 {
      font-size: $fs-h1;
      line-height: $h1-ln-height;
    }
  }

  .dark .header,
  .light .header {
    &-space {
      background-color: transparent;
    }
  }

  .dark {
    .nav {
      &-list {
        &__link {
          color: $white;
          &:hover {
            color: $white;
            border-bottom: 2px solid $white;
          }
        }
      }
    }
  }

  .light {
    .nav {
      &-list {
        &__link {
          color: $blue;
          &:hover {
            color: $blue;
            border-bottom: 2px solid $blue;
          }
        }
      }
    }
  }

  .dark .nav,
  .light .nav {
    &-list {
      &__link {
        font-size: $txt-md;
	      line-height: $txt-ln-height;
        display: inline-block;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
        transition: $transition-time;
      }
    }

    &-active {
      color: $red;
      border-bottom: 2px solid $red;
    }
  }

  .header {
    &-flex {
      justify-content: flex-start;
      &__nav {
        justify-content: flex-start;
      }
    }

    &-space {
      margin: 0;
      padding: 0;
    }

    &-grid {
      grid-template-areas:
      'contact'
      'logo'
      'nav';
      padding-top: 50px;
    }
  }

  .logo {
    &__wrap {
      padding: 15px 0;
    }
    &-svg__wrap {
      width: 130px;
      height: 60px;
    }

    &-slash {
      font-size: 44px;
      font-weight: 700;
    }

    &-txt {
      font-size: $txt-logo;
      line-height: $txt-logo-ln-height;
    }
  }

  .nav {
    all: initial;
    &-list {
      flex-direction: row;
      justify-content: flex-start;
      &__item {
        all: initial;
        font-family: $fm-montserrat;
        margin-right: 15px;
      }
    }
  }

  .contact-list {
    &__item {
      @include circle(18px);
      &::before {
        @include circleBefore(6px, $grey-separator);
      }
    }
  }

  .advantages {
    &__wrap {
      padding-top: 60px;
    }

    .carousel {
      &-title {
        text-align: right;
      }
    }
  }

  .services {
    &__wrap {
      padding: 60px 0 45px;
    }

    &__title {
      margin-bottom: 60px;
    }
  }

  .team {
    &__wrap {
      padding-top: 60px;
    }
  }

  .publications {
    &__title {
      margin-bottom: 30px;
    }
  }

  .footer {
    &-grid {
      grid-template-areas:
      'adress copyright' 
      'phone phone';
      &__copyright {
        &-txt {
          text-align: end;
        }
      }
    }

    &-adress {
      &__list {
        flex-direction: row;
      }

      &__item {
        &:first-child {
          margin-bottom: 0;
        }

        & + & {
          @include circle(26px);
          &::before {
            @include circleBefore(12px, $grey-txt);
          }
        }
      }
    }

    &-contact {
      &__list {
        flex-direction: row;
      }

      &__item {
        margin-bottom: 0;
      }

      &__item + &__item {
        @include circle(26px);
        &::before {
          @include circleBefore(12px, $grey-txt);
        } 
      }
    }
  }

  .about {
    &-team {
      &__txt {
        font-size: $txt-team;
        line-height: $txt-team-ln-height;
        letter-spacing: 63px;
        padding: 89px 0;
      }
    }
  }

  .service-entry {
    &__content {
      padding: 60px 0;
    }

    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
    }
  }

  .members {
    &__title {
      max-width: 664px;
      margin: 0 auto;
      padding: 60px 0;
    }
    
    &-list {
      &__img {
        height: 400px;
      }
    }
  }
}

@media (min-width: $md) {
  @for $i from 1 through $gd-col {
    .col-md-#{$i} {
      @include col-size($gd-size * $i);
    }
  }

  .header {
    &-grid {
      grid-template-areas:
      'logo contact'
      'logo nav';
    }

    &-flex {
      justify-content: flex-end;
      &__nav {
        justify-content: flex-end;
      }
    }
  }

  .advantages {
    .carousel {
      &-title {
        margin-bottom: 15px;
      }

      &-content {
        display: flex;
        justify-content: space-between;
      }

      &-indicators {
        margin: 0;
        &__inner {
          flex-direction: column;
          overflow-x: hidden;
          border-bottom: none;
          padding: 0;
        }

        &__button {
          position: relative;
          padding-right: 60px;
          &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 3px;
            background-color: rgba($white, 0.3);
            right: 0;
            top: 0;
            transition: $transition-time;
          }

          &.active::after {
            background-color: $red;
          }
        }
      }

      &-inner {
        margin-left: 60px;
      }
    }
  }

  .team {
    .carousel-item {
      &__inner {
        display: flex;
      }
    }

    &-img {
      height: 400px;
      &__photo {
        border-radius: 12px 0px 0px 12px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .about {
    &-intro {
      &__list {
        max-width: 388px;
      }
    }

    &-inner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 60px 0;
    }

    &-content {
      max-width: 662px;
    }

    &-desc {
      padding-right: 30px;
    }

    &-info {
      &__title {
        padding-left: 30px;
      }
    }

    &-team {
      &__txt {
        font-size: $txt-team-md;
        line-height: $txt-team-md-height;
        padding: 103px 0;
      }
    }
  }
}

@media (min-width: $xl) {
  .container-sm {
    @include container-size(1480px, 0 60px);
  }

  .container-lg {
    @include container-size(1720px, 0px);
  }

  .clients {
    margin-bottom: 60px;
    &-list {
      &__item {
        &-hillel {
          border-radius: 12px 0 0 0;
        }

        &-3dlook {
          border-radius: 0 12px 0 0;
        }

        &-infratek {
          border-radius: 0 0 0 12px;
        }

        &-ultimatecard {
          border-radius: 0 0 12px 0;
        }
      }
    }
  }

  .about {
    &-content {
      max-width: 942px;
    }

    &-team {
      &__txt {
        font-size: $txt-team-lg;
        line-height: $txt-team-lg-height;
        padding: 236px 0;
      }
    }
  }
}