// colors
$blue-dark: #323264;
$blue-dark-alt: #46466e;
$blue-dark-soft: #686887;
$blue-dark-bg: #1c4280;
$red: #f0145a;
$red-btn: #ec6f5d;
$blue: #24a3ff;
$blue-hover: #0085ff;
$blue-active: #006ccf;
$blue-regal-bg: #1d4568;
$grey-bg: #f5f5fa;
$grey-bg-alt: #ededf7;
$grey-white-bg: #e2e2e4;
$grey-txt: #b3b3ba;
$grey-br: #cacadb;
$grey-br-2: #e7e7f2;
$grey-separator: #e6e6f0;
$grey-bg: #eaeaea;
$white: #ffffff;
$black: #000000;
$grey-space: rgba(245, 245, 250, 0.2);
$green-dark-bg: #143646;
$orange-bg: #f48b30;
$orange-2-bg: #fd9339;
$purple-bg: #9e4dc3;
$burgundy-bg: #c71c36;
$cyan-light-bg: #dcf3f9;
$tolopea-bg: #282240;
// gradient
$gradient-main: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-txt: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
// font-family
$fm-montserrat:"Montserrat", sans-serif;
// font-size
$fs-h1: 38px;
$fs-h2: 30px;
$fs-h3: 22px;
$fs-h4: 20px;
$txt-xl: 19px;
$txt-lg: 18px;
$txt-md: 16px;
$fs-h3-caps: 14px;
$txt-sm: 12px;
$txt-link: 24px;
// line-height
$h1-ln-height: 46px;
$h2-ln-height: 37px;
$h3-ln-height: 27px;
$h4-ln-height: 24px;
$txt-xl-ln-height: 30px;
$txt-md-ln-height: 26px;
$txt-link-ln-height: 29px;
$txt-caps-ln-height: 22px;
$txt-ln-height: 20px;
$h3-caps-ln-height: 17px;
$txt-sm-ln-height: 15px;
// media
$gd-col: 12;
$gd-size: 100% /  $gd-col;
$gutter: 15px;
$xs: 576px;
$sm: 768px;
$md: 1024px;
$lg: 1440px;
$xl: 1920px;

$transition-time: 0.3s ease;
