// colors
$blue-dark-test: #323264;
$blue-dark-alt: #46466e;
$blue-dark-soft: #686887;
$red: #f0145a;
$blue: #24a3ff;
$blue-hover: #0085ff;
$blue-active: #006ccf;
$grey-bg: #f5f5fa;
$grey-bg-alt: #ededf7;
$grey-txt: #b3b3ba;
$grey-separator: #e6e6f0;
$white: #ffffff;
// gradient
$gradient-main: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-txt: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
// font-family
$fm-montserrat:"Montserrat", sans-serif;
// font-size
$fs-h1: 38px;
$fs-h2: 30px;
$fs-h3: 22px;
$txt-lg: 18px;
$txt-md: 16px;
$fs-h3-caps: 14px;
// line-height
$h1-ln-height: 46px;
$h2-ln-height: 37px;
$h3-ln-height: 27px;
$txt-md-ln-height: 26px;
$h4-ln-height: 20px;
$h3-caps-ln-height: 17px;

$transition-time: 0.3s ease;
