@import "./bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Serif&family=Roboto&display=swap');
@import "./var";
@import "./reset";
@import "./mixins";
@import "./common";

.section-gradient {
  background: $gradient-supersoft;
  border-radius: 0px 0px 12px 12px;
  min-height: 100vh;
  margin-bottom: 20px;
  position: relative;
  &__shadow {
    position: absolute;
    height: 10px;
    border-radius: 0px 0px 12px 12px;
    &--first {
      width: calc(100% - 40px);
      bottom: -10px;
      left: 20px;
      background: $grey-br;
    }

    &--second {
      width: calc(100% - 80px);
      bottom: -20px;
      left: 40px;
      background: $grey-br-2;
    }
  }
}

.main-wrap {
  position: relative;
  min-height: 100vh;
  &-bg {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    &__h {
      position: absolute;
      height: 100%;
    }
  }
}

.main-section {
  min-height: 100vh;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__btn {
    padding-bottom: 30px;
  }
  
  &__scroll {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 42px;
    height: 42px;
    border: 2px solid $white;
    border-radius: 50%;
    transition: $transition-time;
    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 7px);
      display: block;
      width: 12px;
      height: 12px;
      border: 2px solid $white;
      transform: rotate(-45deg);
      border-width: 0 0 2px 2px;
      transition: $transition-time;
    }
    &:hover {
      border: 2px solid $red;
    }
    &:hover::before {
      border: 2px solid $red;
      border-width: 0 0 2px 2px;
    }
  }
}

.header {
  &-flex {
    justify-content: space-between;
    &__nav {
      justify-content: end;
    }
  }

  &-space {
    background-color: $grey-space;
    margin: 0 -30px 0 -30px;
    padding: 10px 30px 15px 30px;
  }

  &-grid {
    display: grid;
    grid-template-areas:
      'contact contact'
      'logo nav';
    gap: 16px;
    &__logo {
      grid-area: logo;
    }

    &__contact {
      grid-area: contact;
    }

    &__nav {
      grid-area: nav;
    }
  }
}

.logo {
  display: block;
  &-svg {
    fill: $white;
    &__wrap {
      width: 70px;
      height: 32px;
    }
  }
}

.lang-list {
  &__item {
    &--active {
      border-radius: 8px;
      background-color: $red;
    }
  }

  &__link {
    display: block;
    font-size: $txt-sm;
    line-height: $txt-sm-ln-height;
    padding: 5px 7px;
    border-radius: 8px;
    &:hover {
      background-color: $grey-space;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 54%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 12px;
  overflow-y: auto;
  opacity: 0;
  transform: translateY(100%);
  background-color: $white;
  border-radius: 12px 12px 0px 0px;
  text-align: center;
  transition: $transition-time;
  &-close {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    &__btn {
      width: 32px;
      height: 32px;
      border-radius: 8px;
      transition: $transition-time;
      &:hover {
        background-color: $grey-bg;
      }
    }

    &::after, &::before {
      content: '';
      position: absolute;
      right: 15px;
      width: 2px;
      height: 28px;
      background-color: $red-btn;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &-list {
    flex-direction: column;
    width: 100%;
    &__item {
      padding: 7px;
      margin-bottom: 15px;
      background-color: $grey-bg;
      border-radius: 12px;
    }

    &__link {
      font-size: $txt-link;
      line-height: $txt-link-ln-height;
      color: $blue;
      &:hover {
        color: $red;
      }
    }
  }

  &.visible {
    opacity: 1;
    transform: translateY(0%);
  }
}

.contact-list {
  &__link {
    &--icon{
      width: 24px;
      height: 24px;
      display: block;
    }
  }

  &__item {
    font-size: $txt-md;
    line-height: $txt-ln-height;
  }
}

.menu-btn {
  position: relative;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 8px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: $transition-time;
  &:hover {
    background-color: $grey-space;
  }

  &__burger {
    width: 18px;
    height: 2px;
    background-color: $white;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 7px;
      width: 18px;
      height: 2px;
      background-color: $white;
    }

    &::before {
      transform: translateY(-6px);
    }

    &::after {
      transform: translateY(6px);
    }
  }
}

.advantages {
  &__wrap {
    padding: 30px 0;
    max-width: 1360px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__txt {
    font-size: $txt-xl;
    line-height: $txt-xl-ln-height;
  }

  .carousel-indicators {
    position: static;
    display: block;
    margin: 0;
    margin-bottom: 30px;
    &__inner {
      width: 100%;
      display: flex;
      overflow-x: auto;
      padding-bottom: 30px;
      border-bottom: 4px solid rgba($white, 0.3);
    }

    [data-bs-target] {
      white-space: nowrap;
    }

    &__button {
      width: 100%;
      height: auto;
      text-indent: 0;
      margin: 0;
      padding: 0;
      opacity: 1;
      background-color: transparent;
      border: none;
      padding-right: 30px;
      box-sizing: border-box;
    }

    .active .carousel-title {
      background: $gradient-txt;
      background-clip: text;
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
    }
  }
}

.services {
  &__wrap {
    padding-bottom: 45px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &-list {
    &__img {
      width: 92px;
      height: 92px;
      background-color: $white;
      border-radius: 24px;
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 15px;
      &--link {
        transition: $transition-time;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

.team {
  margin-bottom: 60px;
  &__wrap {
    padding-top: 30px;
  }

  .carousel-item {
    &__inner{
      margin-bottom: 30px;
      border-radius: 12px;
      background-color: $grey-bg; 
    }
  }

  .carousel-indicators {
    position: static;
    margin-bottom: 0;
    [data-bs-target] {
      width: 16px;
      height: 16px;
      background-color: $blue;
      border-radius: 50%;
      margin: 0 15px 0 0;
      border: none;
      opacity: 0.2;
    }
  
    .active {
      opacity: 1;
    }
  }

  &-img {
    width: 100%;
    height: 500px;
    &__photo {
      @extend %images;
      border-radius: 12px 12px 0 0;
    }
  }

  &-info {
    padding: 30px;
    &__title {
      overflow-wrap: break-word;
      margin-bottom: 30px;
    }

    &__author {
      &-name {
        margin-bottom: 6px;
      }
    }
  }
}

.clients {
  &__title {
    color: $blue-dark;
    margin-bottom: 30px;
  }

  &-list {
    &__item {
      height: 120px;
      padding: 10px;
      width: 100%;
      &-img {
        height: 100%;
      }

      &-hillel {
        background-color: $blue-dark-bg;
      }

      &-wannabiz {
        background-color: $green-dark-bg;
      }

      &-tapgerine {
        background-color: $orange-bg;
      }

      &-3dlook {
        background-color: $purple-bg;
      }

      &-orangear {
        background-color: $orange-2-bg;
      }

      &-adtelligent {
        background-color: $grey-white-bg;
      }

      &-clickky {
        background-color: $burgundy-bg;
      }

      &-ecolease {
        background-color: $cyan-light-bg;
      }

      &-infratek {
        background-color: $grey-bg;
      }

      &-citypark {
        background-color: $tolopea-bg;
      }

      &-artprint {
        background-color: $blue-regal-bg;
      }

      &-ultimatecard {
        background-color: $black;
      }
    }
  }
}

.publications {
  background-color: $grey-bg;
  &__wrap {
    padding: 30px 0;
    border-bottom: 2px solid $grey-separator;
  }

  &__title {
    margin-bottom: 15px;
  }

  &-list {
    &__item {
      height: 100%;
      border-radius: 8px;
      background-color: $white;
    }

    &__img {
      height: 200px;
      &--photo {
        @extend %images;
        border-radius: 8px 8px 0px 0px;
      }
    }

    &__info {
      padding: 30px;
      &-title {
        margin-bottom: 15px;
      }

      &-date {
        font-size: $txt-sm;
        line-height: $txt-sm-ln-height;
        margin-bottom: 15px;
      }

      &-txt {
        padding-top: 15px;
        border-top: 4px solid $grey-separator;
      }
    }
  }
}

.footer {
  background-color: $grey-bg;
  &-grid {
    display: grid;
    gap: 21px;
    grid-template-areas:
      'adress' 
      'phone'
      'copyright';
    &__adress {
      grid-area: adress;
    }

    &__contact {
      grid-area: phone;
    }

    &__copyright {
      grid-area: copyright;
      &-txt {
        text-align: center;
      }
    }
  }

  &__wrap {
    padding: 30px 0;
  }

  &-adress {
    &__map {
      font-size: $txt-sm;
      line-height: $txt-sm-ln-height;
    }

    &__list {
      flex-direction: column;
    }

    &__item:first-child {
      margin-bottom: 10px;
    }
  }

  &-contact {
    &__list {
      flex-direction: column;
    }

    &__item {
      margin-bottom: 10px;
    }

    &__link {
      transition: $transition-time;
      &:hover {
        color: $red;
      }
      &--icon {
        width: 38px;
        height: 38px;
        display: block;
      }
    }
  }
}

@import "./media";