section#advantages.advantages
  .container-sm
    .advantages__wrap
      #carouselExampleIndicators.carousel.slide.carousel-content(data-bs-ride='carousel')
        .carousel-indicators
          .carousel-indicators__inner
            button.carousel-indicators__button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
              h2.title-h2.carousel-title.txt--grey.txt--bold Consistent
            button.carousel-indicators__button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
              h2.title-h2.carousel-title.txt--grey.txt--bold Customer oriented
            button.carousel-indicators__button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
              h2.title-h2.carousel-title.txt--grey.txt--bold Innovative
            button.carousel-indicators__button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='3' aria-label='Slide 4')
              h2.title-h2.carousel-title.txt--grey.txt--bold Business oriented
        .carousel-inner
          .carousel-item.active
            h4.title-h4.advantages__title.txt--bold.txt--white We turn the idea of legal services
            p.advantages__txt.txt--white.
              Consolidating many years of experience and practice, the company's lawyers accompany complex 
              projects and achieve a number of important decisions for the industry. Many of them 
              form the practice of applying the law of the sea in Ukraine.
          .carousel-item
            h4.title-h4.advantages__title.txt--bold.txt--white We turn the idea of legal customer oriented
            p.advantages__txt.txt--white.
              Consolidating many years of experience and practice, the company's lawyers accompany complex 
              projects and achieve a number of important decisions for the industry.
          .carousel-item
            h4.title-h4.advantages__title.txt--bold.txt--white We turn the idea of legal innovative
            p.advantages__txt.txt--white.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas perspiciatis architecto 
              excepturi rem error dicta atque unde velit minima est.
          .carousel-item
            h4.title-h4.advantages__title.txt--bold.txt--white We turn the idea of customer business oriented
            p.advantages__txt.txt--white.
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nam, ex dolore quae illum 
              architecto a blanditiis, omnis quas aliquid, culpa pariatur possimus quaerat iste!

