section.clients
  .container-lg
    h3.clients__title.txt--caps.txt--uppercase.txt--bold.txt--center They already trust us
    .clients-list.row
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-hillel', 'hillel.svg', 'Icon logo Hillel')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-wannabiz', 'wannabiz.png', 'Icon logo Wannabiz')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-tapgerine', 'tapgerine.png', 'Icon logo Tapgerine')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-3dlook', '3dlook.png', 'Icon logo 3dlook')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-orangear', 'orangear.png', 'Icon logo orangear')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-adtelligent', 'adtelligent.png', 'Icon logo adtelligent')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-clickky', 'clickky.png', 'Icon logo clickky', 'd--sm')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-ecolease', 'ecolease.png', 'Icon logo ecolease', 'd--sm')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-infratek', 'infratek.png', 'Icon logo infratek', 'd--sm')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-citypark', 'citypark.png', 'Icon logo citypark', 'd--sm')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-artprint', 'artprint.png', 'Icon logo artprint', 'd--sm')
      .col-12.col-xs-6.col-sm-4.col-md-3
        +clientsItem('clients-list__item-ultimatecard', 'ultimatecard.png', 'Icon logo ultimatecard', 'd--sm')

    