mixin logo (title)
  a(href="./index.html").logo.logo__wrap
    include ./logo.pug
    if title
      span.logo-slash /
      span.logo-txt.title-h4.txt--white= title

mixin langItem (langName, langClass)
  li.lang-list__item(class= langClass)
    button.lang-list__link.txt--uppercase.txt--white.txt--bold(href="#")= langName

mixin navItem (navHref, navName)
  li.nav-list__item
    a(href= navHref).txt--bold.nav-list__link= navName

mixin serviceItem (iconName, serviceTitel)
  .services-list__item
    .services-list__img.flex--center
      object.services-list__img--icon(data="./assets/svg/" + iconName + ".svg")
    h3.title-h3.services-list__title.txt--bold
      a(href="#").services-list__title--link.txt--blue= serviceTitel
    block

mixin headingTitle (titleName)
  .heading
    a(href="#").heading__link.txt--caps.txt--bold.txt--uppercase.txt--blue.flex-d.flex-align--center= titleName
      span.arrow

mixin clientsItem (clientClass, logoClient, clientAlt, noneClass)
  .clients-list__item(class= clientClass,class= noneClass)
    .clients-list__item-img.flex--center
      img(src="./assets/img/" + logoClient, alt= clientAlt)

mixin publicationsItem (publicImg, publicAlt, publicTitle, publicDate)
  .publications-list__item
    .publications-list__img
      img.publications-list__img--photo(src="./assets/img/" + publicImg, alt= publicAlt)
    .publications-list__info
      h4.publications-list__info-title.txt--main.txt--bold.txt--blue= publicTitle
      p.publications-list__info-date.txt--uppercase.txt--grey.txt--bold= publicDate
      block
