mixin langItem (langName, langClass)
  li.lang-list__item(class= langClass)
    a.lang-list__link.txt--uppercase.txt--white.txt--bold(href="#")= langName

mixin navItem (navName)
  li.nav-list__item
    a(href="#").txt--main.txt--bold.txt--white.nav-list__link= navName

mixin serviceItem (iconName, titleName, text)
  li.services-list__item
    .services-list__img.flex--center
      object.services-list__img--icon(data="./assets/svg/" + iconName + ".svg")
    h3.title-h3.services-list__title.txt--bold
      a(href="#").services-list__title--link.txt--blue= titleName
    block

mixin headingTitle (titleName)
  .heading
    a(href="#").heading__link.txt--caps.txt--bold.txt--uppercase.txt--blue.flex-d.flex-align--center= titleName
      span.arrow

mixin clientsItem (clientClass, logoClient, altText)
  li.clients-list__item(class= clientClass).flex--center
    img(src="./assets/img/" + logoClient + ".png", alt= altText)