section.publications
  .container
    .publications__wrap
      +headingTitle('#', 'Publications')
      h2.title-h2.publications__title.txt--bold.txt--gradient We have something to tell
      .publications-list.row.m-15
        .column.col-12.col-sm-6.col-md-4
          +publicationsItem('publication_associate.jpg', 'Picture publication equity associate', 'Equity associate', 'April 22')
            p.publications-list__info-txt.txt--caps-md.txt--black.
              I'm a jun on projects. I am a co-owner of a law firm. How it happened. Before entering 
              my parents told me that if I…
        .column.col-12.col-sm-6.col-md-4
          +publicationsItem('publication_gdpr.jpg', 'Picture publication GPDR', 'Penalty for the Good Corporation: what will happen to Google and others for violating the GDPR', 'September 29')
            p.publications-list__info-txt.txt--caps-md.txt--black.
              And why the recovery of 50 million euros could be a fateful precedent According to Mind.ua January 21 National Commission for Data Protection.
        .column.col-12.col-md-4
          +publicationsItem('publication_testament.jpg', 'Picture publication millennial testament', 'Millennial Testament', 'August 19')
            p.publications-list__info-txt.txt--caps-md.txt--black.
              What and how modern vloggers, opinion leaders and crypto-millionaires will inherit A typical legacy of the Ukrainian generation 
              X looks like this: an apartment in…
