extends ../layout.pug
block vars
  - var pageTitle = 'About us page'
  - var logoTitle = 'about us'

block content
  include ../includes/mixins.pug   
  include ../includes/header.pug
  section.idea
    .container
      h2.title-h2.txt--gradient.txt--bold We turn over the idea of legal services