extends ../layout.pug
block vars
  - var pageTitle = 'About us page'
  - var logoTitle = 'about us'
  - var isDark = false

block content
  include ../includes/mixins.pug   
  include ../includes/header.pug
  section.about-intro
    .container
      .about-intro__inner
        h2.title-h2.about-intro__title.txt--gradient.txt--bold We turn over the idea of legal services
        p.about-desc.txt--xl.txt--black.
          Consolidating many years of experience and practice, the company's lawyers accompany complex 
          projects and achieve the adoption of a number of decisions that are important for the industry. 
          Many people form the practice of applying the law of the sea in Ukraine.
        p.about-desc.txt--xl.txt--black.
          HLEGAL is a reliable business partner, confirmed by stable cooperation with international law firms,
          the trust of large Ukrainian and international companies, and the recognition of professional ratings.
        ul.about-intro__list
          +aboutlist('flag.svg', '10+')
            p.about-intro__txt.txt--main.txt--dark years of relevant experience
          +aboutlist('case.svg', '30+')
            p.about-intro__txt.txt--main.txt--dark active clients who entrust us with their orders on a monthly basis
          +aboutlist('probono.svg', '50+')
            p.about-intro__txt.txt--main.txt--dark hours of pro bono work annually
  .about-team
    .container
      p.about-team__txt.txt--white.txt--uppercase.txt--bold.txt--center team
  section.about-info
    .container
      p.about-desc.txt--xl.txt--black.
        The historically unchanged legal profession has begun to reformat in recent years. Clients are feeling this, 
        but law firms are still resisting evolution. Clients need convenience, simplicity, transparent payment. Google, 
        IBM WatsOn, Symantec Clearwell prove that the technological revolution in legal services has begun and is imminent.
      p.about-desc.txt--xl.txt--black Quality is what we care about the most.
      p.about-desc.txt--xl.txt--black It's simple. If you are unhappy with our work, we will refund your money. We trust our clients. And we want our clients to trust us too.
      h2.title-h2.txt--gradient.txt--bold Quality is what we care about the most.
  section.achievements
    .container
      .achievements__inner
        h3.title-h3.achievements__title.txt--caps.txt--dark.txt--uppercase.txt--bold.txt--center Achievements
        #carouselExampleControlsAbout.carousel.slide(data-bs-ride='carousel')
          .carousel-inner
            .carousel-item.active(data-bs-interval="3000")
              +achievementsItem('achievment_legal.png', 'Photo Legal 500 awards')
            .carousel-item(data-bs-interval="3000")
              +achievementsItem('achievment_lawyer.png', 'Photo  lawyer awards')
            .carousel-item(data-bs-interval="3000")
              +achievementsItem('achievment_lead.png', 'Photo  market leaders awards')
            .carousel-item(data-bs-interval="3000")
              +achievementsItem('achievment_ulf.png', 'Photo  Ukrainian Law Firms 2017 awards')
          .carousel-indicators
            button.active(type='button' data-bs-target='#carouselExampleControlsAbout' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
            button(type='button' data-bs-target='#carouselExampleControlsAbout' data-bs-slide-to='1' aria-label='Slide 2')
            button(type='button' data-bs-target='#carouselExampleControlsAbout' data-bs-slide-to='2' aria-label='Slide 3')
            button(type='button' data-bs-target='#carouselExampleControlsAbout' data-bs-slide-to='3' aria-label='Slide 4')
