extends ../layout.pug
block vars
  - var pageTitle = 'About us page'
  - var logoTitle = 'about us'

block content
  include ../includes/mixins.pug   
  include ../includes/header.pug
  section.idea
    .container
      h2.title-h2.txt--gradient.txt--bold We turn over the idea of legal services
      p.idea-txt.
        Consolidating many years of experience and practice, the company's lawyers accompany complex 
        projects and achieve the adoption of a number of decisions that are important for the industry. 
        Many people form the practice of applying the law of the sea in Ukraine.
      p.idea-txt.
        HLEGAL is a reliable business partner, confirmed by stable cooperation with international law firms,
        the trust of large Ukrainian and international companies, and the recognition of professional ratings.