extends ../layout.pug
block vars
  - var pageTitle = 'Publications page'
  - var logoTitle = 'publications'
  - var isDark = false

block content
  include ../includes/mixins.pug   
  include ../includes/header.pug