extends ../layout.pug
block vars
  - var pageTitle = 'Services page'
  - var logoTitle = 'services'

block content
  include ../includes/mixins.pug
  .section-gradient
    .section-gradient__shadow.section-gradient__shadow--first
    .section-gradient__shadow.section-gradient__shadow--second
    include ../includes/header.pug
    include ../includes/services.pug
  include ../includes/clients.pug