extends ../layout.pug
block vars
  - var pageTitle = 'Team page'
  - var logoTitle = 'team'
  - var isDark = false

block content
  include ../includes/mixins.pug   
  include ../includes/header.pug
  section.members
    .container
      .members__title
        h1.title-h2.txt--gradient.txt--bold We are used to taking responsibility and always guarantee honest, timely assistance, even in situations where most are powerless.
      .members-list
        .members-list__item
          .members-list__img
            img.members-list__img--photo(src="./assets/img/team_alexandrovsky.jpg", alt="")
          .members-list__about
            a.members-list__about-person.txt--main.txt--bold.txt--dark(href="#") 
              p.members-list__about-person--name Alexander Alexandrovsky
              p.txt--caps-md.txt--grey Managing partner
            a.members-list__about-arrow(href="#")
              span.arrow.members-arrow