extends ../layout.pug
block vars
  - var pageTitle = 'Team page'
  - var logoTitle = 'team'
  - var isDark = false

block content
  include ../includes/mixins.pug   
  include ../includes/header.pug
  section.members
    .container
      .members__title
        h1.title-h2.txt--gradient.txt--bold We are used to taking responsibility and always guarantee honest, timely assistance, even in situations where most are powerless.
      .members-list
        .row.m-15
          .column.col-12
            +membersItem('team_alexandrovsky.jpg', 'Photo Alexandera Alexandrovsky', '#', 'Alexander Alexandrovsky', 'Managing partner', '#')
          .column.col-12
            +membersItem('team_patrikov.jpg', 'Photo Evgeny Patrikov', '#', 'Evgeny Patrikov', 'Equity partner, Attorney-at-law', '#')
          .column.col-12
            +membersItem('team_melnik.jpg', 'Photo Vladislav Melnik', '#', 'Vladislav Melnik', 'Associate', '#')
          .column.col-12
            +membersItem('team_binn.jpg', 'Photo Sergey Binn', '#', 'Sergey Binn', 'Associate', '#')
          .column.col-12
            +membersItem('team_kobzar.jpg', 'Photo Oksana Kobzar', '#', 'Oksana Kobzar', 'Equity partner, Attorney-at-law', '#')
          .column.col-12
            +membersItem('team_wolk.jpg', 'Photo Julia Wolk', '#', 'Julia Wolk', 'Associate, Attorney-at-law', '#')