extends ../layout.pug
block vars
  - var pageTitle = 'Team entry page'
  - var logoTitle = 'team'
  - var isDark = false

block content
  include ../includes/mixins.pug   
  include ../includes/header.pug