extends ./pug/layout.pug
block vars
  - var title = 'Hlegal'

block content
  include ./pug/includes/mixins.pug

  .section-gradient
    .section-gradient__shadow.section-gradient__shadow--first
    .section-gradient__shadow.section-gradient__shadow--second
    .main-wrap
      .main-wrap-bg
        object.main-wrap-bg__h(data="./assets/svg/symbol_letter.svg")
      .main-section
        include ./pug/includes/header.pug
        main.main-section__title
          .container
            h1.title-h1.txt--white.txt--bold.txt--center you legal solutions provider
        .main-section__btn
          a(href="#advantages").main-section__scroll
    
    include ./pug/includes/advantages.pug
    include ./pug/includes/services.pug
  
  include ./pug/includes/team.pug
  include ./pug/includes/clients.pug
  include ./pug/includes/publications.pug

